/* StudyTracker Dark Theme */

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    fg-text: #d2d2d3;
    bg-text: #ffffff;
    accent-text: #111111;
    fg-accent: #72dec2;
    fg-low: #3e4452;
    fg-high: fg-accent;
    -fx-text-base-color: fg-text;

    -fx-base: #181a1f;
    bg-low: #b3b2ac;
    base-100: bg-low;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-default-button: #282c34;
}
