/* Set global variables */

.root {
    /* Default color scheme */
    -fx-base: derive(#dad7cd, -10%);

    /* Surface colors */
    fg-accent: #e47464;
    fg-surface: derive(#322e33, 10%);
    bg-surface: #898880;

    /* Typography */
    fg-text: #ffffff;
    bg-text: #000000;
    accent-text: #202020;
    -fx-text-base-color: fg-text;
    -fx-text-fill: fg-text;
    -fx-font-family: "Open Sans";
    -fx-font-smoothing-type: gray; /* nicer anti aliasing */

    /* Control colors */
    -fx-default-button: #66606b;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    /* Accent colors */
    accent-0: #bf3722;
    accent-1: #792315;
    accent-2: #e47464;
    accent-3: #9f4132;
    accent-4: #e3a664;
    accent-5: #8f3b2e;
}

.background {
    -fx-background-color: derive(-fx-base, 20%);
    background-color: -fx-base;
}

/* Overall typography */

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: fg-text;
    -fx-opacity: 1.0;
}

.h1-size {
    -fx-font-family: "Open Sans";
    -fx-font-size: 26pt;
    -fx-text-fill: bg-text;
    -fx-font-weight: bold;
}

.h2-size {
    -fx-font-family: "Open Sans";
    -fx-font-size: 20pt;
    -fx-text-fill: bg-text;
    -fx-font-weight: bold;
}

.italic {
    -fx-font-family: "Open Sans";
    -fx-font-style: italic;
}

.bg-text {
    -fx-text-fill: bg-text;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

/* Context menu */

.context-menu {
    -fx-background-color: derive(-fx-base, 50%);
}

.context-menu .label {
    -fx-text-fill: bg-text;
}

/* List view (study spots list) */

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-fx-base, 20%);
}

.card {
    -fx-background-color: fg-surface;
    -fx-background-radius: 8;
}

.list-cell {
    -fx-padding: 4 0 4 0; /* spacing between cards */
    -fx-background-color: -fx-base;
    -fx-background-insets: 0px, 2px;
}

.list-cell:filled:hover .card{
    -fx-background-color: derive(fg-accent, -30%);
}

.list-cell .label {
    -fx-text-fill: fg-text;
}

.cell_big_label {
    -fx-font-family: initial;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: fg-text;
}

.cell_muted_label {
    -fx-opacity: 0.6;
}

.cell_medium_label {
    -fx-font-family: initial;
    -fx-font-size: 13px;
    -fx-text-fill: fg-text;
}

.cell_small_label {
    -fx-font-size: 12px;
    -fx-text-fill: fg-text;
}

.cell_medium_bold_label {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: fg-text;
}

.cell_hours_label {
    -fx-font-size: 16px;
    -fx-text-fill: fg-text;
}

.cell_hours_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: fg-text;
}

.cell_hour_digit_label {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-text-fill: fg-text;
}

.cell_hour_digit_small_label {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: fg-text;
}

.icon_container {
    -fx-spacing: 10;
    -fx-font-size: 12px;
    -fx-background-color: derive(fg-surface, 20%);
    -fx-padding: 4 28 4 28;
    -fx-background-radius: 16;
    -fx-opacity: 0.85;
    -fx-min-height: 24;
    -fx-max-height: 24;
}

.svg_icon {
    -fx-fill: fg-text;
}

.icon_label {
    /* we need to set min/max dimensions in order for the spacing/padding to work */
    -fx-min-width: 10;
    -fx-max-width: 10;
    -fx-min-height: 10;
    -fx-max-height: 10;
    -fx-padding: 4 0 0 0; /* magic number to visually align icon in box */
    -fx-alignment: baseline-center;
}

.icon_small_label {
    /* we need to set min/max dimensions in order for the spacing/padding to work */
    -fx-min-width: 10;
    -fx-max-width: 10;
    -fx-min-height: 10;
    -fx-max-height: 10;
    -fx-padding: 0 0 0 0; /* magic number to visually align icon in box */
    -fx-alignment: baseline-center;
}

/* Scrollbar */

.scroll-bar {
    -fx-background-color: -fx-base;
}

.scroll-bar .thumb {
    -fx-background-color: bg-surface;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/* Panes */
.stack-pane {
     -fx-background-color: -fx-base;
}

.pane {
     -fx-background-color: -fx-base;
}

/* Status bar */

.status-bar {
    -fx-background-color: derive(-fx-base, 50%);
}

/* Info display */
.info-display .label {
    -fx-text-fill: bg-text;
}

/* Info display pie chart */

.info-chart__caption {
    -fx-text-fill: derive(black, 10%) !important;
    -fx-font-size: 10pt !important;
    -fx-font-family: initial;
    -fx-font-weight: bold;
}

.info-chart__hours {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 42pt;
}

.info-chart__hours-text {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 12pt;
}

.info-chart__donut-hole {
    -fx-fill: -fx-base;
}

.chart-line-symbol {
    -fx-background-color: -fx-base, derive(white, 50%);
}

.default-color0 { -fx-pie-color: accent-0; }
.default-color1 { -fx-pie-color: accent-1; }
.default-color2 { -fx-pie-color: accent-2; }
.default-color3 { -fx-pie-color: accent-3; }
.default-color4 { -fx-pie-color: accent-4; }
.default-color5 { -fx-pie-color: accent-5; }
.default-color6 { -fx-pie-color: derive(accent-2, 45%); }
.default-color7 { -fx-pie-color: derive(accent-5, 45%); }
.default-color8 { -fx-pie-color: derive(accent-1, 45%); }
.default-color9 { -fx-pie-color: derive(accent-3, 45%); }

/* Result pane (the box containing ResultDisplay and CommandBox */
.result-pane {
    -fx-background-color: derive(-fx-base, 50%);
}

/* Results display */

.result-display {
    -fx-background-color: derive(-fx-base, 50%); /* only sets the border color */
    -fx-font-size: 12pt;
    -fx-text-fill: bg-text;
}

.result-display .content {
    -fx-background-color: derive(-fx-base, 50%);
}

.result-display .label {
    -fx-text-fill: bg-text;
}

.status-bar .label {
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: bg-text;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

/* Grid pane */

.grid-pane {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-border-color: derive(-fx-base, 20%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-fx-base, 20%);
}

/* Menu bar */

.menu-bar {
    -fx-background-color: -fx-base;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: bg-text;
    -fx-opacity: 0.9;
}

.menu {
    -fx-background-color: -fx-base;
}

/* Buttons */

.button {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: -fx-default-button;
    -fx-border-width: 0;
    -fx-font-size: 11pt;
    -fx-text-fill: fg-text;
}

.button:hover {
    -fx-background-color: derive(-fx-default-button, 20%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(fg-accent, -20%);
  -fx-text-fill: accent-text;
}

/* Custom css IDs */

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: derive(-fx-base, 80%);
    -fx-font-size: 12pt;
    -fx-prompt-text-fill: bg-surface;
    -fx-text-fill: bg-text;
}

#tags {
    -fx-hgap: 8;
    -fx-vgap: 4;
}

#tags .label {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: accent-text;
    -fx-background-color: fg-accent;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#settings-window .label {
    -fx-text-fill: bg-text;
}

#help-window .list-cell:filled {
    -fx-padding: 4 16 4 16;
}

#help-window .list-cell:filled:hover {
    -fx-cursor: hand;
}

#help-window .list-cell:filled:selected {
    -fx-background-color: fg-accent;
    -fx-text-fill: accent-text;
}

#help-window {
    -fx-font-size: 14;
}

.command-info > Text {
    -fx-fill: bg-text;
    -fx-font-size: 15;
}

.command-info__command-info {
    -fx-line-spacing: 300;
}

.command-info__command-name {
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 19;
}

.command-info__command-header {
    -fx-fill: -fx-default-button;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0; /* hide split pane in help window */
    -fx-box-border: transparent;
}
