/* Dots Light Theme for StudyTracker */

.root {
    -fx-base: #e8e9ee;

    fg-accent: #ffffff;
    fg-surface: #b9bccb;
    bg-surface: #a4accc;

    fg-text: #121520;
    bg-text: #121520;
    accent-text: #121520;
    -fx-text-base-color: fg-text;

    -fx-default-button: #ff9349;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:filled:hover .card{
    -fx-background-color: derive(fg-surface, -10%);
}

.error {
     -fx-text-fill: #f94348 !important;
}

.tag-accent-0 {
    -fx-background-color: #ffd543 !important;
}

.tag-accent-1 {
    -fx-background-color: #ff9349 !important;
}

.tag-accent-2 {
    -fx-background-color: #4acb8a !important;
}

.tag-accent-3 {
    -fx-background-color: #ab85ff !important;
}

.tag-accent-4 {
    -fx-background-color: #3cc5f8 !important;
}
