/* Default Theme for StudyTracker */

.root {
    -fx-base: derive(#dad7cd, -10%);

    fg-accent: #e47464;
    fg-surface: derive(#322e33, 10%);
    bg-surface: #898880;

    fg-text: #ffffff;
    bg-text: #000000;
    accent-text: #202020;
    -fx-text-base-color: fg-text;

    -fx-default-button: #66606b;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    accent-0: #bf3722;
    accent-1: #792315;
    accent-2: #e47464;
    accent-3: #9f4132;
    accent-4: #e3a664;
    accent-5: #8f3b2e;
}
