/* Dots Light Theme for StudyTracker */
/* Inspired by KAT Milkshake by biip */
/* Some colours from monkeytype https://github.com/Miodec/monkeytype/blob/3b6fb2d3b3bfb4e822db210f0183ed89fcf1b5a6/static/themes/milkshake.css */

.root {
    -fx-base: #e4e8f2;

    fg-accent: #62cfe6;
    fg-surface: #bbc5dd;
    bg-surface: #92a2c9;

    fg-text: #212b43;
    bg-text: #212b42;
    accent-text: #121520;
    -fx-text-base-color: fg-text;

    -fx-default-button: #73e4d0;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    accent-0: #f19dac;
    accent-1: #fbf4a0;
    accent-2: #73e4d0;
    accent-3: #62cfe6;
    accent-4: #ba96db;
    accent-5: #92a2c9;
}

.list-cell:filled:hover .card{
    -fx-background-color: derive(fg-surface, -5%);
}

.error {
     -fx-text-fill: #f19dac !important;
}

.tag-accent-0 {
    -fx-background-color: accent-0 !important;
}

.tag-accent-1 {
    -fx-background-color: accent-1 !important;
}

.tag-accent-2 {
    -fx-background-color: accent-2 !important;
}

.tag-accent-3 {
    -fx-background-color: accent-3 !important;
}

.tag-accent-4 {
    -fx-background-color: accent-4 !important;
}

.command-info__command-header {
    -fx-fill: derive(bg-surface, -5%);
}
